.pages{
    width: 100%;
    height: 90vh;
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.derecha{
    display: flex;
    align-items: center;
    justify-content: right;
}

.izquierda{
    display: flex;
    align-items: center;
    justify-content: left;
}

.linkLimpio{
    text-decoration: none;
}