.menuPrincipal{
    background-color: grey;
    width: 15vh;
    height: 90vh;
    color: white;
    word-wrap: break-word;
}

.menuOption{
    padding: 1vh;
    margin-bottom: 5vh;
    opacity: calc(0.7);
}

.menuOption:hover{
    opacity: calc(1);
}

.optionLogo{
    width: 7vh;
    margin: 1vh;
    opacity: calc(0.7);
}

.optionLogo:hover{
    opacity: calc(1);
}

#pageOne{
    display: none;
}

#pageTwo{
    display: none;
}

#pageThree{
    display: none;
}

#pageFour{
    display: none;
}

/*

@media screen and (max-width:1100px) {
    .menuOption{
        display: none;
    }
    
    .bigOptionLogo{
        display: flex;
    }
}
*/