.menuPrincipal{
    background-color: grey;
    width: 20%;
    height: 90vh;
    color: white;
}

.menuOption{
    padding: 1vh;
    margin-bottom: 5vh;
    opacity: calc(0.7);
}

.menuOption:hover{
    opacity: calc(1);
}

.smallOptionLogo{
    width: 4vh;
    margin: 1vh;
}

.bigOptionLogo{
    width: 8vh;
    margin: 1vh;
    opacity: calc(0.7);
    display: none;
}

.bigOptionLogo:hover{
    opacity: calc(1);
}

@media screen and (max-width:1100px) {
    .menuOption{
        display: none;
    }
    
    .bigOptionLogo{
        display: flex;
    }
}